@import 'tailwindcss';
@plugin "daisyui";

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.shimmer {
  animation: shimmer 1.5s infinite;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  border-radius: 8px;
}

/* for login background image */
.dev-bg {
  background-image: url('https://res.cloudinary.com/dl8q6vzmq/image/upload/v1742576220/yzlbgrigi33ieqpxjrvi.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* Ensures the image covers the entire area */
  min-height: 100vh; /* Ensures it fills the viewport height */
}
